# ==============================
# VISUAL STUDIO / .NET
# ==============================

.vs/
**/bin/
**/obj/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/


# ==============================
# ANGULAR / NODE
# ==============================

**/node_modules/
**/.angular/
**/dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==============================
# VS CODE
# ==============================

.vscode/


# ==============================
# ARCHIVOS TEMPORALES
# ==============================

*.tmp
*.temp
*.log
*.cache

.DS_Store
Thumbs.db


# ==============================
# VARIABLES / CONFIG LOCAL
# ==============================

**/.env
**/.env.*
**/appsettings.Development.json