USE [CineDB]
GO
/****** Objeto: StoredProcedure [dbo].[sp_BuscarSalaPorNombre] Fecha de script: 25/9/2026 16:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[sp_BuscarSalaPorNombre]
    @nombre VARCHAR(100) = NULL
AS
BEGIN

    SELECT
        s.id_sala AS idSala,
        s.nombre AS nombreSala,
        COUNT(p.id_pelicula) AS cantidadPeliculas,

        CASE

            WHEN COUNT(p.id_pelicula) < 3
                THEN 'Sala disponible'

            WHEN COUNT(p.id_pelicula) BETWEEN 3 AND 5
                THEN 'Sala con '
                     + CAST(COUNT(p.id_pelicula) AS VARCHAR)
                     + ' peliculas asignadas'

            ELSE
                'Sala no disponible'

        END AS mensaje

    FROM sala_cine s

    LEFT JOIN pelicula_salacine ps
        ON s.id_sala = ps.id_sala_cine

    LEFT JOIN pelicula p
        ON ps.id_pelicula = p.id_pelicula
        AND p.estado = 1

    WHERE
        s.estado = 1
        AND (
            @nombre IS NULL
            OR s.nombre = @nombre
        )

    GROUP BY
        s.id_sala,
        s.nombre;

END;
